<div class="container-fluid">
  <div class="panels">
      <div class="panel panel1" style="background-image:url('<%= @images.find(15).image_url %>')"></div>
      <div class="panel panel2"></div>
      <div class="panel panel3"></div>
      <div class="panel panel4"></div>
      <div class="panel panel5"></div>
  </div>
</div>
