@import "bootstrap-sprockets";
@import "bootswatch/journal/variables";
@import "bootstrap";
@import "bootswatch/journal/bootswatch";

.page-nav {
  margin: 0;
}

body {
  background-image:url('IMG_2251.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body.images.index {
  background-image:url('');
}
