// Place all the styles related to the fullcollections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
  background-image:url('https://i.stack.imgur.com/p9mUO.jpg');
  background-size: cover;
}

body.welcome.show {
  background-image:url('http://cdn30.us1.fansshare.com/image/paintings/pablo-picasso-famous-paintings-hd-wallpaper-famous-70569728.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body.welcome.index {
  background-image:url('');
}

body.fullcollections.index {
  background-image:url('');
}
body.images.show {
  background-image:url('https://i.pinimg.com/736x/5a/34/5a/5a345acd4fee4191ceba8e4f2b3e0f13--abstract-art-paintings-modern-paintings.jpg');
}
body.images.index {
  background-image:url('https://i.pinimg.com/736x/5a/34/5a/5a345acd4fee4191ceba8e4f2b3e0f13--abstract-art-paintings-modern-paintings.jpg');
}

.full-title {
  color: white;
}
