// Place all the styles related to the fullcollections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
  background-image: linear-gradient(white, grey, lightgrey);
  background-size: cover;
  border-top: solid;
  border-bottom: solid;
}

body.welcome.show {
  background-image:url('http://cdn30.us1.fansshare.com/image/paintings/pablo-picasso-famous-paintings-hd-wallpaper-famous-70569728.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body.welcome.index {
  background-image:url('');
}

body.fullcollections.index {
  background-image:url('');
}
body.images.show {
  background-image: linear-gradient(#000000,#434343);
}
body.images.index {
  background-image: linear-gradient(#000000,#434343);
  background-size: contain;
}

.full-title {
  color: whitesmoke;
  text-shadow: 1.5px 1.5px black;
  text-align: center;
}
