// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-show {
  position:absolute;
  left: 0%;
  border: groove;
  border-color:black;
}

.img-desc {
  width: 400px;
  font-size: 18px;
  text-align: center;
  position:absolute;
  left: 50%;
  top: 15%;
}

div.desc {
    padding: 15px;
    text-align: center;
    color:white;
    background-image:url('https://i.stack.imgur.com/p9mUO.jpg');
}

* {
    box-sizing: border-box;
}
.responsive {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

.responsive img {
  width: 100% !important;
  height: auto !important;
  border: groove;
  border-color: black;
}
.responsive img:hover {
  border-style: dashed;
}

.responsive {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
