<% if @images.exists? %>
  <div class="img-gallery">
      <% @images.each do |image| %>
        <%= link_to image_tag(image.image_url, class: "thumb img-responsive"), image_path(image) %>
      <% end %>
  </div>
<% end %>
